.card{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin: 10px 0;
    background-color: #7c6ee6;
    border-radius: 5px;
}

.card img{
    width: 30px;
    margin-right: 15px;
}